$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);
$color-cod-grey:                    #1e1e1e;
$color-malibu:                      #639eff;
$color-mine-shaft:                  #282828;

$ff-roboto:                         "Roboto", "Arial", sans-serif;

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;
